@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  gap: 1rem;

  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.box {
  height: 100px;
  width: 100px;
  padding: 2rem;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-size: 2rem;
}
