@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

/* Begin reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

/* End reset */

/* Utility classes */

.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: 100000px;
}

/* End of Utility classes */

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}

.hero {
  border-bottom: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  background-color: rgb(251, 210, 156);
  background-image: url('../img/scenic-2200x1331.png');
  background-repeat: repeat;
  background-size: cover;
}

.h1 {
  font-size: 500%;
  color: #fff;

}

.profile-pic-figure {
  width: 35%;
}

.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double grey;
  border-radius: 50%;
}

/* .example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid red;
}

.example img {
  width: 25%;
  height: auto;
} */
