/* 

Typography is the way that text is arranged and presented.

*/

body {
  padding: 10%;
  font-size: 2rem;
  font-family: 'Roboto', san-serif;
}

/* input, button {
  font: inherit;
} */

p {
  /* text-decoration: line-through; */
  /* text-transform: capitalize; */
  /* text-align: justify; */
  /* text-indent: 2em; */

  /* line-height: 1.5; */
  /* letter-spacing: 0.25em; */
  /* word-spacing: 0.25em; */

  font-weight: 700;
  font-style: oblique;

}